version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: energy-ingestion-db
    environment:
      POSTGRES_DB: energy_ingestion
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - energy-network

  app:
    build: .
    container_name: energy-ingestion-app
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: energy_ingestion
      DB_USER: postgres
      DB_PASSWORD: postgres
      PORT: 3000
      NODE_ENV: production
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./src:/app/src
    command: npm start
    networks:
      - energy-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: energy-ingestion-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - energy-network
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:


networks:
  energy-network:
    driver: bridge
